<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>  
<listener class-name="Framework.rahulshetty.Listeners"/>  
</listeners>  
  <test name="validating home page">
    <classes>
      <class name="Framework.rahulshetty.Homepage"/>
    </classes>
    </test>
    <test name="Validating login functionality">
    <classes>
      <class name="Framework.rahulshetty.Loginfunction"/>
    </classes>
    </test> <!-- Test -->
    
</suite> <!-- Suite -->
